footer
  .container
    p Tiled backgrounds from #[a(href="https://www.toptal.com/designers/subtlepatterns/") subtlepatterns]
    p Site design and photography by #[a(href="https://dossamer.io/") dossamer.io] 
    p &copy; 2020 Arc Yard Work