footer
  .container
    p Tiled backgrounds from #[a(href="https://www.toptal.com/designers/subtlepatterns/") subtlepatterns]
    p Hero image photographed by site author in Madison, CT
    p #[a(href="https://publicdomainreview.org/essay/woodblocks-in-wonderland-the-japanese-fairy-tale-series") Council of War] in the public domain 
    p &copy; 2016-2020 Alex Rupp-Coppi