head
  title Arc Yard Work
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(
    name="description"           
    content="Arc Yard Work - we rake leaves so you don't have to."
  )